<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>

    <form method="post" action="/pessoas/criar">
        <h2>Cadastro</h2>

            <div class="inputbox">
                <label for="">Nome</label>
                <input type="text" required name="nome">

            </div>

            <div class="inputbox">
                <label for="">Sobrenome</label>
                <input type="text" required name="sobrenome">   
            </div>
        
            <div class="inputbox">
                <label for="">Altura</label>
                <input type="integer" required name="altura">
            </div>

            <div class="inputbox">
                <label for="">Idade</label>
                <input type="number" required name="idade">
            </div>

      <input type="submit" value="Salvar"/>

    </form>
</body>
</html>